<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/596">Hi there</a> by Makoto Shinkai
    </h2>
    <p class="spotlight__description">
      20 votes - Anime
    </p>
  </section>

  <section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/596">your name.</a>
          <small class="top-ten__creator">by Makoto Shinkai</small>
        </h4>
        <p>20 votes</p>
      </li>
  </section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/599">huh</a>
          <small class="top-ten__creator">by Katty</small>
        </h4>
        <p>4 votes</p>
      </li>
  </ul>
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <a href="/works/571">Kreb-Full-o Been</a>
          <small class="top-ten__creator">by Ms. Trevion Buckridge</small>
        </h4>
        <p>8 votes</p>
      </li>
  </ul>
</section>

</section>
</main>

